.column_resize_table th::before {
    content: "";
    display: block;
    width: var(--column_resize_before_width);
}

.columnResizer:hover {
    border-right: 1px solid #777;
    border-left: 1px solid #777;
    /* background-color: #f9f9f9; */
    background-color: #777;
}
